#settings{
  display:inline;
}
#visualization_year{
  display: inline;
  padding-left: 20px;
}
#year {
  display:inline;
}
#year_val {
  display:inline;
}
#type {
  display:inline;
}
#visualization {
  height: 400px; 
  width: 800px; 
}

.flag {
  height: 32px;
}

body { background-image:url('../tapestry_pattern.png'); }
body { background-image:url('../extra_clean_paper.png'); }

#map {
  display:inline-block;
}

#info {
  display:inline-block;
}

ul {
  list-style-type: none;
}

#nation-flag {
  position: relative;
  display: inline-block;
  width: 32px;
  margin: 0;
  padding: 0;
  float: right;
}
