#settings{
  display:inline;
}
#visualization_year{
  display: inline;
  padding-left: 20px;
}
#year {
  display:inline;
}
#year_val {
  display:inline;
}
#type {
  display:inline;
}
#visualization {
  height: 400px; 
  width: 800px; 
}

body { background-image:url('../tapestry_pattern.png'); }
body { background-image:url('../extra_clean_paper.png'); }


ul {
  list-style-type: none;
}

#nation-flag {
  position: relative;
  display: inline-block;
  width: 32px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  float: left;
}
#alliance-flags {
  position: relative;
  display: inline-block;
  width: 32px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  float: left;
}

.flag {
  height: 32px;
}

#legend {
  padding-left: 20px;
}

#nation-stats {
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

#nation-stats > div {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2; 
}


#type > a {
  text-decoration: none;
}

#header {
  padding:0;
  margin: 0;
}
